<div class="group bg-white border border-green-100 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 hover:border-green-500 hover:border-3 
            hover:shadow hover:scale-105 hover:shadow-lg transition-transform transition-shadow duration-400 ease-in">

    <div [routerLink]="['/details',oneProduct._id]" class="cursor-pointer">
        <a>
            <img class="p-8 w-80 mx-auto  rounded-2" [src]="oneProduct.imageCover" alt="product image" />
        </a>
        <div class="px-5 pb-5">
            <a>
                <h5 class="text-sm font-semibold tracking-tight text-green-700 dark:text-green-700">
                    {{oneProduct.category.name}}
                </h5>
                <h2 class="text-2xl font-semibold tracking-tight text-black dark:text-black line-clamp-1">
                    {{oneProduct.title}}
                </h2>
            </a>

            <div class="flex items-center justify-between">
                <span class="text-2xl text-gray-900 dark:text-white">{{oneProduct.price}} EGP </span>
                <div class="flex items-center mt-2.5 mb-5">
                    <div class="flex items-center space-x-1 rtl:space-x-reverse">
                        <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 22 20">
                            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 
                                1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 
                                2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                    </div>
                    <span class=" font-light text-xl text-gray-400 py-0.5 rounded-sm ">
                        {{oneProduct.ratingsAverage}}
                    </span>
                </div>
            </div>

        </div>


    </div>
    <div class="mx-auto w-3/4">
        <div class="flex justify-end pb-5">
            <i (click)="addToWishlist(oneProduct._id)" class="fa-solid fa-heart text-4xl hover:text-red-500 "></i>
        </div>
        <button (click)="addToCart(oneProduct._id)" class="text-white p-3 mb-5 cursor-pointer translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all w-full bg-green-700 
                   hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 
                   text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Add to cart</button>

    </div>
</div>