<footer class="mt-3">
    <div class="bg-gray-200 p-10">
        <h2 class="text-3lx ">Get the FreshCart App</h2>
        <p class="font-thin text-gray-600">we will send you a link, apen it on your phone to download the app </p>


        <div class="flex items-center my-3 mx-auto">
            <label for="voice-search" class="sr-only">Search</label>
            <div class="relative w-full">
                <input type="text" id="voice-search"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                    placeholder="Email .." />
            </div>
            <button
                class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-small text-white bg-green-500 rounded-lg border border-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Share App Link
            </button>
        </div>

        <div class="w-full h-[0.5px] bg-gray-400"></div>

        <div class="flex justify-between items-center flex-wrap md:flex-nowrap ">
            <div class="my-5 flex gap-2">
                <h4>Payment Partners</h4>
                <img class="md:w-12 w-5 " src="/images/amazon-pay.png" alt="amazon-pay">
                <img class="md:w-12 w-5" src="/images/paypal.png" alt="paypal">
                <img class="md:w-12 w-5" src="/images/mastercard.webp" alt="mastercard">
                <img class="md:w-12 w-5" src="/images/American-Express-Color.png" alt="American-Express-Color">
            </div>

            <div class="my-5 flex gap-2">
                <h4>Get deliveries with FreshCart</h4>
                <img class="md:w-24 w-15" src="/images/get-apple-store.png" alt="get-apple-store">
                <img class="md:w-24 w-15" src="/images/get-google-play.png" alt="get-google-store">
            </div>
        </div>

        <div class="w-full h-[0.5px] bg-gray-400"></div>


    </div>
</footer>