<div class="container grid grid-cols-9 mx-auto my-5 ">
    <div class="col-span-6">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <img src="/images/slider-image-3.jpeg" alt="" class="w-full h-full object-fit-contain " />
            </ng-template>
            <ng-template carouselSlide>
                <img src="/images/slider-image-2.jpeg" alt="" class="w-full h-full object-fit-contain " />
            </ng-template>
            <ng-template carouselSlide>
                <img src="/images/slider-image-1.jpeg" alt="" class="w-full h-full object-fit-contain " />
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="col-span-3 grid grid-rows-2 ">
        <img src="/images/ss1_.jpg" alt="top" class="w-full h-full object-fit-contain " />
        <img src="/images/ss2_.jpg" alt="bottom" class="w-full h-full object-fit-contain " />
    </div>
</div>


<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
</owl-carousel-o> -->

<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="/images/slider-image-3.jpeg" alt="" class="w-100 rounded" />
    </ng-template>
    <ng-template carouselSlide>
        <img src="/images/slider-image-2.jpeg" alt="" class="w-100 rounded" />
    </ng-template>
    <ng-template carouselSlide>
        <img src="/images/slider-image-1.jpeg" alt="" class="w-100 rounded" />
    </ng-template>
</owl-carousel-o> -->