<h2 class="text-center text-5xl text-green-700 mt-2">Your reset code</h2>
<div class="w-9/12 mx-auto py-5">
    <form [formGroup]="verifyCodeForm">
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-700 dark:text-white"> Reset Code :</label>
            <input formControlName="resetCode" type="text" placeholder="write the code without any whitespace"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" />

            @if (verifyCodeForm.get('resetCode')?.errors && verifyCodeForm.get('resetCode')?.touched )
            {
            @if (verifyCodeForm.get('resetCode')?.errors?.['required'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Required</span>
            </div>
            }
            }
        </div>



        <div class="py-4 flex justify-center">
            <button type="button" (click)="verifyReserCode()"
                class="p-3 ms-3 rounded text-white bg-green-600 cursor-pointer  ">
                Verify Code
            </button>

        </div>
    </form>
</div>

@if(shown()==true){
<h2 class="text-center text-5xl text-green-700 mt-2">Reset Password</h2>
<div class="w-9/12 mx-auto">

    <form [formGroup]="newPasswordForm" class="my-4">

        <!-- email -->
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-700 dark:text-white">Your Email :</label>
            <input formControlName="email" type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                required />

            @if (newPasswordForm.get('email')?.errors && newPasswordForm.get('email')?.touched )
            {
            @if (newPasswordForm.get('email')?.errors?.['required'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Required</span>
            </div>
            }@else if (newPasswordForm.get('email')?.errors?.['email'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Please enter a vaild email</span>
            </div>
            }
            }
        </div>

        <!-- pw -->
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-700 dark:text-white">New Password :</label>
            <input formControlName="password" type="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                required />

            @if (newPasswordForm.get('password')?.errors && newPasswordForm.get('password')?.touched )
            {
            @if (newPasswordForm.get('password')?.errors?.['required'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Required</span>
            </div>
            }@else if (newPasswordForm.get('password')?.errors?.['pattern'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Please enter a vaild password of 6 as :<br></span>
                <span>should start with uppercase letter<br></span>
                <span>second letter should be lowercase<br> </span>
                <span>4 rondom numbers</span>
            </div>
            }
            }
        </div>
        <div class="flex justify-between items-center">
            <button [disabled]="!newPasswordForm.valid" (click)="reserPassword()"
                class="p-3 rounded text-white bg-green-600 cursor-pointer  disabled:bg-green-300 disabled:cursor-not-allowed">
                change password

            </button>
        </div>

    </form>

</div>
}