<h2 class="text-center text-5xl text-green-700 mt-2">login</h2>
<div class="w-9/12 mx-auto">


    @if (errorMessage().length>0)
    {
    <div class="p-4 my-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <span class="font-medium">{{errorMessage()}}</span>
    </div>
    }


    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="my-4">

        <!-- email -->
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-700 dark:text-white">Email :</label>
            <input formControlName="email" type="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                required />

            @if (loginForm.get('email')?.errors && loginForm.get('email')?.touched )
            {
            @if (loginForm.get('email')?.errors?.['required'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Required</span>
            </div>
            }@else if (loginForm.get('email')?.errors?.['email'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Please enter a vaild email</span>
            </div>
            }
            }
        </div>

        <!-- pw -->
        <div class="mb-3">
            <label class="block mb-2 text-sm font-medium text-green-700 dark:text-white">Password :</label>
            <input formControlName="password" type="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
                required />

            @if (loginForm.get('password')?.errors && loginForm.get('password')?.touched )
            {
            @if (loginForm.get('password')?.errors?.['required'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Required</span>
            </div>
            }@else if (loginForm.get('password')?.errors?.['pattern'])
            {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <span class="font-medium">Please enter a vaild password of 6 as :<br></span>
                <span>should start with uppercase letter<br></span>
                <span>second letter should be lowercase<br> </span>
                <span>4 rondom numbers</span>
            </div>
            }
            }
        </div>
        <div class="flex justify-between items-center">
            <button [disabled]="!loginForm.valid"
                class="p-3 rounded text-white bg-green-600 cursor-pointer  disabled:bg-green-300 disabled:cursor-not-allowed">LogIn
                @if (isLoading()) {<i class="fa-solid fa-spinner fa-spin"></i>}
            </button>
            <button (click)="forgetPassword()" class="p-3 ms-3 rounded text-white bg-red-600 cursor-pointer  ">
                Forget Password ?
            </button>

        </div>

    </form>

</div>